.main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--degradado-header);
    z-index: 100;
}

/* Espacio para que el contenido no quede detrás */
body {
    padding-top: 64px;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: white;
}

.text-xl {
    font-size: 1.5rem;
}

.font-bold {
    font-weight: 600;
}