.app-layout {
  display: flex;
  min-height: 100vh;
  overflow: hidden;
}

/* Contenido principal */
.content {
  flex: 1;
  padding: 16px;
  transition: margin-left 0.3s ease;
}

/* Desktop: Sidebar permanente, contenido con margen */
@media (min-width: 768px) {
  .content {
    margin-left: 250px;
  }

  .backdrop {
    display: none;
  }
}

/* Móviles: Sidebar sobrepuesto sin margen en el contenido */
@media (min-width: 48rem) {

  /* assuming base font size = 16px */
  .app-layout {
    position: relative;
  }

  .content {
    margin-left: 0;
  }
}