.category-container {
    max-width: 1200px;
    /* Aumenta el ancho máximo en pantallas grandes */
    margin: auto;
    text-align: center;
    padding: 16px;
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

h3, p {
    margin-bottom: 16px;
    color: var(--color-texto);
    grid-column: 1 / -1;
    /* Asegura que el título ocupe todo el ancho */
}

p{
    font-style: italic;
    margin-top: -20px;
    color: rgb(42, 42, 42);
}

@media (max-width : 600px) {
    .category-container {
        max-width: 400px;
        margin: auto;
        text-align: center;
        padding: 16px;
    }
}