<div class="habit-card completed">
    <div class="card-header">
        <h4 style="color: #4caf50;">
            <i class="fas fa-check-circle" style="color: #4caf50;"></i>
            {{ habit.nombre }}
        </h4>
    </div>
    <div class="card-body">
        <p *ngIf="habit.descripcion" class="description">{{ habit.descripcion }}</p>
        <p class="meta">
            <i class="fas fa-bullseye"></i>
            <strong>Meta Alcanzada:</strong> {{ habit.objetivo }} {{ habit.unidadObjetivo }}
        </p>
        <p class="progress">
            <i class="fas fa-chart-line" style="color: #4caf50;"></i>
            Progreso: <span style="color: #4caf50;">{{ progress }}</span> / {{ habit.objetivo }}
        </p>
    </div>
    <div class="card-actions">
        <button (click)="quickLog.emit(habit)" class="quick-log-btn">
            <i class="fas fa-plus-circle"></i> Añadir Más Registro
        </button>

        <app-weekly-status-bar [habit]="habit" [logs]="logs" (selectDate)="handleRetroLog($event)">
        </app-weekly-status-bar>
    </div>
</div>