.home {
  max-width: 1000px;
  margin: 0 auto;
  padding: 16px;
  position: relative;
}

.home-header {
  text-align: center;
  margin-bottom: 24px;
}

.date-time {
  top: 16px;
  right: 16px;
  text-align: right;
}

.date-time h2 {
  font-size: 1rem;
  margin: 0;
  color: var(--color-texto);
}

.date-time p {
  font-size: 0.8rem;
  margin: 0;
  color: gray;
}

.home-header h1 {
  font-size: 2rem;
  color: var(--color-primario);
  margin: 12px 0 8px;
}

.home-header p {
  font-size: 1rem;
  color: var(--color-texto);
  margin: 0;
}


/* Estilos para el modal de confirmación */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background-color:var(--color-blanco);
  padding: 16px;
  border-radius: 8px;
  max-width: 400px;
  width: 90%;
  box-shadow: var(--sombra-suave);
  text-align: center;
}

.modal p {
  font-size: 1rem;
  color: var(--color-texto);
  margin-bottom: 16px;
}

.modal button {
  padding: 8px 16px;
  background-color: var(--color-primario);
  color: var(--color-texto-secundario);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.modal button:hover {
  background-color: var(--color-secundario);
}


.instructions-container {
  max-width: 800px;
  margin: 2rem auto;
  background: #fff;
  box-shadow: var(--sombra-suave);
  border-radius: 8px;
  overflow: hidden;
}

.instructions-header {
  background: var(--degradado-header);
  padding: 1.5rem;
  text-align: center;
  color: var(--color-texto-secundario);
}

.instructions-header h1 {
  margin: 0;
  font-size: 2.5rem;
}

.instructions-body {
  padding: 2rem;
}

.instructions-body p {
  font-size: 1.1rem;
  line-height: 1.6;
  margin: 0.5rem 0;
}

.instructions-body ol {
  margin: 1rem 0;
  padding-left: 1.5rem;
}

.instructions-body li {
  margin-bottom: 1rem;
}

.instructions-body li strong {
  color: var(--color-secundario);
  font-size: 1.2rem;
}

.instructions-body li em {
  color: var(--color-acento);
}

.final-msg {
  text-align: center;
  font-weight: bold;
  font-size: 1.3rem;
  color: var(--color-primario);
  margin-top: 2rem;
}