<div class="daily-habits">
  <h3>Hábitos de Hoy</h3>

  <div *ngFor="let category of ['diario', 'semanal', 'mensual', 'ocasional']">
    <h4 *ngIf="groupedHabits[category]?.length">
      <span *ngIf="category === 'diario'">📅</span>
      <span *ngIf="category === 'semanal'">🗓️</span>
      <span *ngIf="category === 'mensual'">📆</span>
      <span *ngIf="category === 'ocasional'">🎯</span>
      {{ category | titlecase }}
    </h4>

    <div class="habits-grid" *ngIf="groupedHabits[category]?.length">
      <ng-container *ngFor="let habit of groupedHabits[category]">
        <app-habit-card *ngIf="!(habit.tipo === 'bueno' && getProgressValue(habit) >= habit.objetivo)" [habit]="habit"
          [logs]="logs" (quickLog)="handleQuickLog($event)" (retroLog)="handleRetroLog($event)">
        </app-habit-card>
      </ng-container>
    </div>
  </div>

  <div *ngIf="completedGoodHabits.length">
    <h4>Hábitos Completados ✅</h4>
    <div class="habits-grid">
      <ng-container *ngFor="let habit of completedGoodHabits">
        <app-completed-habit-card [habit]="habit" [logs]="logs" (quickLog)="handleQuickLog($event)"
          (retroLog)="handleRetroLog($event)">
        </app-completed-habit-card>
      </ng-container>
    </div>
  </div>
</div>