.habit-streaks {
  max-width: 800px;
  margin: 0 auto;
  padding: 16px;
  text-align: center;
}

.habit-streaks h2 {
  color: var(--color-texto);
  margin-bottom: 8px;
}

.habit-streaks p {
  font-style: italic;
  color: rgb(42, 42, 42);
  margin-top: -10px;
  margin-bottom: 24px;
}