<div class="habit-streak-list">
  <ul>
    <li *ngFor="let stat of statistics" class="card">
      <div class="card-header">
        <h4>
          <i class="fas fa-chart-line"></i>
          {{ getHabitName(stat.habitId) }} <small>(ID: {{ stat.habitId }})</small>
        </h4>
        <p class="habit-info">
          <i class="fas fa-clock"></i>
          Frecuencia: {{ getHabit(stat.habitId)?.frecuencia || 'Desconocida' }} |
          Tipo: {{ getHabit(stat.habitId)?.tipo === 'bueno' ? 'Positivo' : 'Negativo' }}
        </p>
      </div>
      <div class="card-info">
        <p>
          <i class="fas fa-bolt"></i>
          Racha Actual: {{ stat.rachaActual }}
        </p>
        <p>
          <i class="fas fa-trophy"></i>
          Racha Máxima: {{ stat.rachaMaxima }}
        </p>
        <p>
          <i class="fas fa-check-circle"></i>
          Cumplimiento: {{ stat.porcentajeCumplimiento | number:'1.0-2' }}%
          <span class="badge" [ngClass]="getBadgeClass(stat)">
            {{ getBadgeLabel(stat) }}
          </span>
        </p>
      </div>
    </li>
  </ul>
</div>
